<div class=" row mt-3 p-3  div-read"> 
    <h1 class="label-input-read">Times da Tabela: {$table.name_table}</h1>
</div>
<section class="mt-5">
     <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                <h3 class="box-title"><small>Times fora da Tabela</small></h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th style="width: 10px">#</th>
                            <th>Nome do Time</th>
                            <th style="width: 240px">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {loop="$teamsNotRelated"}
                            <tr>
                            <td>{$value.id_team}</td>
                            <td>{$value.name_team}</td>
                            <td>
                                <a href="/team-table/{$table.id_table}/{$value.id_team}/add" class="btn btn-primary btn-xs pull-right"><i class="fa fa-arrow-right"></i> Adicionar</a>
                            </td>
                            </tr>
                            {/loop}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box-body">
                <div class="box-header with-border">
                <h3 class="box-title"><small>Times dentro da Tabela</small></h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th style="width: 10px">#</th>
                            <th>Nome do Time</th>
                            <th style="width: 240px">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {loop="$teamsRelated"}
                            <tr>
                            <td>{$value.id_team}</td>
                            <td>{$value.name_team}</td>
                            <td>
                                <a href="/team-table/{$table.id_table}/{$value.id_team}/remove" class="btn btn-primary btn-xs pull-right"><i class="fa fa-arrow-left"></i> Remover</a>
                            </td>
                            </tr>
                            {/loop}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</section>

